<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Airline ticketing system</title>
</head>
<body>
   <div>
	Details of the ticket:<br/>
	<b>ID: </b><span th:text="${id}"></span><br/>
	<b>Email: </b><span th:text="${email}"></span><br/>
	<b>Purchase date: </b><span th:text="${date}"></span><br/>
	<b>Departure: </b><span th:text="${departure}"></span><br/>
	<b>Destination: </b><span th:text="${destination}"></span><br/>
	<b>Amount: </b><span th:text="${amount}"></span> <span th:text="${currency}"></span><br/>
	<b>Number of tickets: </b><span th:text="${number}"></span><br/>
   </div>
</body>
</html>